@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  /* width: 8px;
  background-color: #494036; */
  width: 0px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  /* background: #e3dcd9;
  border-radius: 2rem; */
  display: none;
}
a {
  text-decoration: none;
  color: black;
}

.sidebar {
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  height: 0;
}

.sidebar.open {
  transform: translateX(0%);
  height: auto;
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}
